@charset "utf-8";

html{
    font-size: 62.5%;
}

header {
    color: #646464;
    padding: 10px 0;
    margin: 0 auto;
    height: 60px;
    box-shadow: 2px 2px 6px #cccccc;
}
.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
}

.flex {
    display: flex;
    align-items: center;
}

p {
    margin: 0;
}

.header_nav {
    display: flex;
    align-items: center;
}
ul {
    list-style: none;
}

.header_nav_list a {
    color: #646464;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    margin-right: 50px;
}

.search_stock {
    margin-right: 15px;
    position: relative;
    width: 150px;
    height: 36px;
    margin: auto;
    font-weight: bold;
    line-height: 0;
}

#search_stock_number {
    letter-spacing: 1px;
    position       : absolute;
    display        : block;              /* ブロック化            */
    box-sizing     : border-box;         /* 枠線,余白を含んだ長さ */
    height         : 36px;               /* BOXの高さ             */
    width          : 100%;               /* テキスト入力の幅      */
    margin         : 0;                  /* 外余白                */
    padding        : 0 45px 0 12px;       /* 内余白                */
    border         : 2px solid #666;     /* 枠線　幅,実践,色      */
    border-radius  : 6px;                /* 角丸                  */
    color          : #333;               /* 文字色                */
    font-size      : 16px;               /* フォントサイズ        */
    outline        : 0;                  /* 入力の薄い枠を非表示  */
}

.fa-search {
    position       : absolute;
    box-sizing     : border-box;         /* 枠線,余白を含んだ長さ */
    height         : 26px;               /* 入力の高さ            */
    margin         : 0;                  /* 外余白                */
    padding        : 6px 10px;           /* 内余白                */
    top            : 6px;                /* ボタン表示位置(上)    */
    right          : 6px;                /* ボタン表示位置(右)    */
    border         : none;               /* 枠線　幅,実践,色      */
    border-radius  : 6px;                /* 右上下の角丸          */
    background     : #2C7CFF	;               /* ボタンの色            */
    color          : #fff;               /* 文字色                */
    cursor         : pointer;            /* カーソル設定          */
}
.header img {
    width: 200px;
    position: absolute;
    top: -20px;
}

body{
    color: #333;
    font-size: 1.6rem;
    margin:0;
    font-family: sans-serif;
}

main {
    margin-top: 30px;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
}

.topfifteen_content, .wadai_content, .stockchange_content {
    margin: 0 30px;
}

.wrapper h1{
    font-size: 32px;
    margin-bottom: 20px;
    border-bottom: 1px solid #111111;
    padding-bottom: 5px;
    display: inline-block;
}

.sikiho_content {
    font-weight: bold;
}

.sikiho_sentence {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.stock_chara, .stock_perspect {
    width: 200px;
    font-size: 20px;
}

.second_floor {
    margin-top: 40px;
    display: flex;
}
.ifis_content img {
    width: 638px;
}

.wadai_content h3 {
    margin: 0;
}

.wadai_content h4 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.wadai_youso {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #111111;
}