@charset "utf-8";

html{
    font-size: 62.5%;
}

header {
    background-color: #ffde5b;
}

body{
    color: #333;
    font-size: 1.6rem;
    margin:0;
    background-color: #fffdbc;
}

.choose_group_type label {
  margin-bottom: 0;
  display: inline;
}

option {
    margin: 0 auto;
}
p {
  font-family: "Noto Sans CJK JP";
}
select {
    margin: 0 auto;
    -webkit-appearance:none;
    appearance:none;
    width:100%;
    box-sizing:border-box;
    font-size:1em;
    border:#ccc 1px solid;
    border-radius:0;
    background:#fff;
    padding:0.2em;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    display: block;
    color: #4c4c4c;
    letter-spacing: .1em;
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: 0 0;
}

footer {
  height:200px;
  background-color: #ffde5b;
}

video{
    min-width:100%;
}

button {
  cursor: pointer;
}

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 1.25em; height: 1.25em;
  border: 2px solid #ccc;
  background: #fff;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '\2713\0020';
  position: absolute;
  top: .15em; left: .22em;
  font-size: 1.3em;
  line-height: 0.8;
  color: #2887EB;
  transition: all .2s;
  font-family: 'Lucida Sans Unicode', 'Arial Unicode MS', Arial;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  border: 2px dotted blue;
}

/* hover style just for information */
label:hover:before {
  border: 2px solid #4778d9!important;
}


.header {
    display: flex;
    align-items: center;
    width: 1280px;
    height: 90px;
    margin: auto;
    background-color: #ffde5b;
    justify-content: space-between;
}

.logo {
    width: 251px;
}

.logo img {
    max-width: 100%;
    vertical-align: bottom;
}

.header_nav {
    display: flex;
    justify-content: center;
}

.header_nav_list {
    position: relative;
    text-align: center;
    padding: 4px 0;
    margin-left: 46px;
    box-sizing: border-box;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: bold;
}