.page{
    text-align:center;
    height:100%;
    page-break-after: always;
    page-break-inside: avoid;
}

body {
    font-family: "Noto Serif CJK JP";
    font-weight: 500;
}

.page:last-child{
    page-break-after: auto;
}

.h1 {
    font-size: 40px;
    text-align: center;
}


img {
    width: 100%;
}

#irekae_stock_title {
    font-size: 36px;
    text-decoration-thickness: 6px;
    text-align: center;
    margin: 0px 0px 40px 0px;
}

ul {
    list-style: none;
}

li {
    font-size: 35px;
    text-align: left;
    margin: 20px 0;
}

.subject {
    font-size: 32px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 20px;
}

.stock_info {
    border: 2px solid black;
    padding: 20px;
    font-size: 28px;
    text-align: left;
}

.stock_result {
    border: 2px solid black;
    padding: 20px;
    font-size: 28px;
    text-align: left;

}