@charset "utf-8";

html{
    font-size: 62.5%;
}

header {
    color: #fff;
    padding: 10px 0;
    margin: 0 auto;
    height: 60px;
    box-shadow: 2px 2px 6px #cccccc;
    background-color: rgb(33,34,35);
}
.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
    align-items: center;
}

.header_nav {
    display: flex;
    align-items: center;
}
ul {
    list-style: none;
}

.logo {
    color: #fff;
    font-size: 30px;
    text-decoration: none;
}

.header_nav_list a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    margin-right: 50px;
}

.search_area_wrap {
    background-color: rgb(41,154,168);
    margin-top: 60px;
    height: 84px;
    padding-top: 18px;
    padding-bottom: 18px;
}

.search_area {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #fff;
}

.search_area p {
    margin: 8px;
    color: #fff;
}

.search_area a {
    margin: 8px;
    color: #fff;
}

.search_stock {
    position: relative;
    width: 320px;
    font-weight: bold;
    line-height: 0;
}

#search_stock_number {
    letter-spacing: 1px;
    box-sizing: border-box;
    height: 45px;
    width: 340px;
    padding: 0 45px 0 12px;
    border: 2px solid #fff;
    border-radius: 12px;
    color: #333;
    font-size: 16px;
    outline: 0;
}

.fa-search {
    position: absolute;
    box-sizing: border-box;
    height: 34px;
    margin: 0;
    padding: 9px 9px;
    top: 6px;
    right: -10px;
    border: none;
    border-radius: 20px;
    background: rgb(238,73,81);
    color: #fff;
    cursor: pointer;
}

.search_area_right p {
    font-weight: bold;
}

.soaring_word {
    margin-left: 16px;
}


.header img {
    width: 200px;
    position: absolute;
    top: -20px;
}

body{
    color: #333;
    font-size: 1.6rem;
    margin:0;
    font-family: sans-serif;
}

main {
    margin-top: 30px;
}

.wrapper {
    margin-top: 30px;
    background-color: #a9a9a9;
}

/* .wrapper ul{
    border: 2px #333 solid;
    border-radius: 20px;
    width: 300px;
    padding: 15px 10px 15px 20px;
    list-style: none;
    height: 580px;
} */

.topfifteen_content, .wadai_content, .stockchange_content {
    margin: 0 30px;
}

.wrapper h1{
    font-size: 20px;
    margin-bottom: 10px;
}

.wrapper li {
    line-height: 30px;
    font-size: 17px;
}


/* 株価指数 */

.market_top_upper, .market_top_lower {
    display: flex;
    justify-content: space-around;
    width: 1080px;
    margin: 0 auto;
}

.indexes_area, .ranking_area, .news_area, .kessan_area {
    background-color: #fff;
    margin-top: 30px;
    border-radius: 12px;
}

.indexes_list_upper, .indexes_list_lower {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 450px;
    margin-top: 5px;
}

.indexes_list_upper a, .indexes_list_upper p, .indexes_list_lower a, .indexes_list_lower p  {
    font-size: 12px;
    display: block;
    margin: 0 2px;
    text-decoration: none;
    color: #555555;
}


/* ランキング */

.ranking_area, .news_area, .kessan_area {
    width: 510px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.ranking_area .heading {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
}

.ranking_area button {
    font-size: 12px;
    border: none;
    width: 80px;
    height: 26px;
    background-color: #dfdfdfdf;
}

.ranking_area button:not(:last-child) {
    border-right: 1px solid #cccccc;
}

.ranking_kind {
    display: flex;
    justify-content: center;
    box-shadow: 2px 2px 4px #aaaaaa;
    border-radius: 4px;
}

.stock_table {
    margin: 10px auto;
    padding: 0 30px;
}

table{
    width: 100%;
    border-spacing: 0;
}

table th{
    font-size: 14px;
}

table td{
    border-bottom: solid 2px #ddd;
    text-align: center;
    padding: 10px 0;
    font-size: 13px;
}


/* もっと見るボタン*/

a.btn-flat {
    width: 120px;
    display: block;
    text-align: center;
    margin: 0 auto;
    overflow: hidden;
    padding: 8px 20px;
    color: #fff;
    background: #000;
    font-size: 15px;
    text-decoration: none;
    border-radius: 4px;
}

a.btn-flat span {
    position: relative;
}
.news_area {
    height: 310px;
}

.news_area .heading{
    margin-left: 20px;
}

.news_list {
    display: flex;
    align-items: center;
    line-height: 2px;
    
}

.news_list li {
    margin-right: 20px;
    font-size: 12px;
    font-weight: bold;
}

.news_list a {
    font-size: 13px;
    text-decoration: none;
    color: #0645AD;
}

/* カレンダー*/
td.fc-day-sat {
    background-color: #eaf4ff;
}
td.fc-day-sun {
    background-color: #ffeaea;
}

#calendar {
    width: 54%;
    margin-left: 20px;
}

table.fc-scrollgrid-sync-table tr:last-child {
    display: none;
}

.fc .fc-toolbar.fc-header-toolbar {
    margin-bottom: 6px;
}

.fc .fc-toolbar-title {
    font-size: 16px;
}
.fc-prev-button, .fc-next-button {
    font-size: 12px !important;
}

button.fc-today-button {
    display: none;
}

.kessan_area .heading {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 30px;
}

.fc-daygrid-day-number {
    font-size: 10px;
}

.fc-daygrid-day-events {
    min-height: 10px !important;
}